@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>Developed by @ViewData["Developer"]</p>

<address>
    <strong>More info: </strong> <a href="https://linkedin.com/in/natan-colleoni-fonseca-3533071a7" target="_blank">LinkedIn</a>
</address>
